<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VakilsearchDropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9B161CA1CFE0656002D3D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B161DE1CFE0656002D3D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B161E91CFE0656002D3D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
